[Unit]
Description=ROS Launch Service
After=network.target

[Service]
Type=simple
User=root
Environment=ROS_DOMAIN_ID=XX
Environment=RMW_IMPLEMENTATION=rmw_fastrtps_cpp
ExecStart=/bin/bash -c "source /home/bxi/bxi_ws/bxi_rl_controller_ros2_example/install/setup.bash && ros2 launch remote_controller remote_controller.launch.py"
WorkingDirectory=/home/bxi

[Install]
WantedBy=default.target
